## Database ##
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://<postgres-db-url>/inventory-service
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=update

## Server ##
server.port=8082